[Unit]
Description=rebuilderd-worker: rebuild packages

[Service]
ExecStart=/usr/bin/rebuilderd-worker -n %i connect

Restart=always
RestartSec=0

[Install]
WantedBy=multi-user.target
