[Unit]
Description=rebuilderd: independent binary package verification system

[Service]
User=rebuilderd
Environment="REBUILDERD_COOKIE_PATH=/var/lib/rebuilderd/auth-cookie"
ExecStart=/usr/bin/rebuilderd -c /etc/rebuilderd.conf
WorkingDirectory=/var/lib/rebuilderd

[Install]
WantedBy=multi-user.target
