---
services:
  daemon:
    build: .
    ports:
    - 127.0.0.1:8484:8484
    init: true
    command: ['rebuilderd', '-v']
    environment:
    - REBUILDERD_COOKIE_PATH=/secret/auth
    - RUST_LOG=debug
    volumes:
    - ./secret:/secret
    - ./data:/data
  worker-alpine:
    build:
      context: .
      dockerfile: worker/Dockerfile.alpine
    # number of concurrent workers
    scale: 1
    init: true
    command: ['connect', 'http://daemon:8484']
    environment:
    - REBUILDERD_COOKIE_PATH=/secret/auth
    volumes:
    - ./secret:/secret
    depends_on:
    - daemon
  worker-archlinux:
    build:
      context: .
      dockerfile: worker/Dockerfile.archlinux
    # number of concurrent workers
    scale: 1
    init: true
    command: ['connect', 'http://daemon:8484']
    environment:
    - REBUILDERD_COOKIE_PATH=/secret/auth
    volumes:
    - ./secret:/secret
    depends_on:
    - daemon
  worker-debian:
    build:
      context: .
      dockerfile: worker/Dockerfile.debian
    cap_add:
    - SYS_ADMIN
    # number of concurrent workers
    scale: 1
    init: true
    command: ['connect', 'http://daemon:8484']
    environment:
    - REBUILDERD_COOKIE_PATH=/secret/auth
    volumes:
    - ./secret:/secret
    depends_on:
    - daemon
  worker-fedora:
    build:
      context: .
      dockerfile: worker/Dockerfile.fedora
    # number of concurrent workers
    scale: 1
    init: true
    command: ['connect', 'http://daemon:8484']
    environment:
    - REBUILDERD_COOKIE_PATH=/secret/auth
    volumes:
    - ./secret:/secret
    depends_on:
    - daemon
  worker-tails:
    build:
      context: .
      dockerfile: worker/Dockerfile.tails
    privileged: true
    # number of concurrent workers
    scale: 1
    init: true
    command: ['connect', 'http://daemon:8484']
    environment:
    - REBUILDERD_COOKIE_PATH=/secret/auth
    volumes:
    - ./secret:/secret
    - /dev:/dev
    - /proc:/proc
    - /sys:/sys
    - /var/run/libvirt:/var/run/libvirt
    depends_on:
    - daemon
