[package]
name = "rebuilderd-worker"
version = "0.1.0"
authors = ["user"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
rebuilderd-common = { path="../common" }
structopt = "0.3"
env_logger = "0.7"
tokio = { version="0.2", features=["macros"] }
